<section class="row">
  <section class="col-xs-12">

    <div class="photo-holder">
      <%= image_tag "#{@photo.link}", id: "photo" %>
      <div class="tag">
        <div class="tag-box">

        </div>
        <div class="tag-label">

        </div>
        <div class="tag-menu">

        </div>
      </div>
    </div>



  </section>
</section>
