<section class="row">
  <section class="col-xs-12">

    <div class="photo-holder">
      <%= image_tag "#{@photo.link}", id: "photo" %>
      <div class="tag">
        Test Tag
      </div>
    </div>



  </section>
</section>
