$tag-box-size: 64px;

.photo-holder {
  position: relative;
}

#photo {
  position: absolute;
  left: 0px;
  right: 0px;
}

.tag {
  position: absolute;
  left: 0px;
  top: 0px;
  pointer-events: none;
}

.tag-box {
  position: absolute;
  left: -$tag-box-size/2;
  top: -$tag-box-size/2;
  border: 5px solid rgba(0,200,0,0.5);
  width: $tag-box-size;
  height: $tag-box-size;
  opacity: 50;
}

.tag-label {
  position: absolute;
}

.tag-menu {
  position: absolute;
}

.hidden {
  display: none;
}
