.photo-holder {
  position: relative;
}

#photo {
  position: absolute;
  left: 0px;
  right: 0px;
}

.tag {
  position: absolute;
  left: 0px;
  right:0px;
  border: 5px solid rgba(0,200,0,0.5);
  width: 100px;
  height: 100px;
  opacity: 50;
}

.tag-label {

}

.tag-menu {
  
}
