$tag-box-size: 64px;

.photo-holder {
  position: relative;
}

#photo {
  position: absolute;
  left: 0px;
  right: 0px;
}

.tag-temp {
}

.tag {
  position: absolute;
  left: 0px;
  top: 0px;
}

.tag-box {
  position: absolute;
  left: -$tag-box-size/2;
  top: -$tag-box-size/2;
  border: 5px solid rgba(0,200,0,0.5);
  width: $tag-box-size;
  height: $tag-box-size;
  opacity: 50;
}

.tag-label {
  position: absolute;
  left: -$tag-box-size/2;
  top: $tag-box-size/2;
  border: 1px solid rgba(0,0,0,0.75);
  background-color: rgba(250,250,250,0.75);
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  padding: 2px;
  font-family: sans-serif;
  font-weight: bold;
  border-radius: 5px;
}

.tag-menu {
  position: absolute;
  left: -$tag-box-size/2;
  top: $tag-box-size/2;
  border: 1px solid rgba(0,0,0,0.75);
  background-color: rgba(250,250,250,0.75);
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  padding: 2px;
  border-radius: 5px;
}

.tag-menu-item {
  background-color: rgba(250,250,250,0.0);
  padding: 0 2px;
  border: 1px solid black;
  border-radius: 5px;
}

.tag-menu-item:hover {
  background-color: rgba(250,250,250,1.0);
}

.hidden {
  display: none;
}

.delete {
  position: absolute;
  top: -5px;
  right: 5px;
  width: 10px;
  height: 10px;
  border: 1px solid white;
  border-radius: 5px;
  line-height: 10px;
  background-color: red;
  color: white;
}

body {
  padding-top: 50px;
  padding-bottom: 2000px;
}
